*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  padding: 30px 0;
  margin: auto;
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.lang-conct{
  float: left;
  width: 50%;
  text-align: left;
}

.fa-globe-europe{
  color: #32495b;
}

.menu-inline li {
  display: inline-block;
  list-style: none;
  padding: 5px 5px;
}

/* select{
  border-width: 0px 0px 0px 0px;
  color: #32495b;
} */

.conctact{
  text-decoration: none;
  color: #32495b;
  border-left: 2px solid  #899397;
  padding-left: 10px;
}

.serch{
  float: left;
  width: 50%;
  text-align: right;
}

.fa-search{
  display: inline-block;
  color:#66c6d7;
}

.first-right-button{
  margin: 4px 2px;
  border-color: #fe775a;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #fe775a;
  text-decoration: none;
}

.login{
  margin: 4px 2px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #fff;
  color: #fe775a;
  border: 2px solid #fe775a;
}

.header-img{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff4ef;
  height: 529px;
}

.header-down::after {
    content: "";
    clear: both;
    display: block;
}

.header-top-logo {
    float: left;
    width: 50%;
    padding-top: 5px;
}

.header-top-nav-left {
    float: left;
    width: 50%;
    margin-bottom: 50px;
    text-align: right;
    padding-top: 5px;
}

.header-down li a{
  color: #32495b;
  text-decoration: none;
}

.fa-chevron-down{
  color: #32495b;
  padding: 10px;
}

.banner h1{
  width: 50%;
  color: #32495b;
  font-size: 40px;
  padding-top: 50px;
}

.banner p{
  width: 50%;
  line-height: 30px;
  color: #32495b;
  font-size: 18px;
  margin: 30px 0;
}

.second-down-button{
  border-color: #fe775a;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #fe775a;
  text-decoration: none;
}

h5{
  color: #32495b;
  padding: 30px 0;
}

.border-down-img{
  background-color:#afebe4;
  height: 80px;
  border: 3px solid #33475b;
}

h2{
  margin: auto;
  color: #32495b;
}

.main-container,.inside-container{
  width: 70%;
  padding: 30px 0;
  margin: auto;
}

.main-container::after{
  content: "";
  clear: both;
  display: block;
}

.main-first{
  float: left;
  width: 100%;
}

.cube{
  height: 200px;
}

.main-first{
  color: #32495b;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.main-first p{
  color: #32495b;
  text-align: center;
  line-height: 30px;
  padding: 20px 50px;
  font-size: 18px;
}

.book-learnemore{
  float: left;
  width: 20%;
  padding: 80px 0;
}

.book{
  height: 100px;
  display: block;
}

.learnmore{
  margin: 20px 0;
  border-color: #fe775a;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fe775a;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.section-freehubspot{
  float: left;
  width: 80%;
  padding: 80px 0;
  text-align: left;
}

.freehub, .h3-title{
  color: #32495b;
  font-size: 20px;
  padding: 20px 0;

}

.section-freehubspot p{
  color: #32495b;
  line-height: 40px;
  padding: 20px 0;
  font-size: 22px;
}

.section-freehubspot h6{
  position: relative;
  font-weight: bold;
  color: #32495b;
  padding: 20px 20px;
  font-size: 16px;
  padding: 20px 0;
}

.linea::after{
  content:"";
  position:absolute;
  height: 2px;
  width:70%;
  background-color:#899397;
  right:0;
  top:28px;
}

.fa-check-circle{
  color: #fe775a;

}
.col{
  float: left;
  width: 33%;
}

.img-aside{
  height: 230px;
  width: 150px;
  margin: auto;
  padding-top: 20px;
}


.title{
  color: #32495b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  padding:0 30px;
}

.border{
  border-bottom: 2px solid grey;
  margin: 30px 60px;
}


.col p{
  text-align: center;
  line-height: 30px;
  color: grey;
  font-size: 18px;
  margin: 20px 30px;
}

.h3-title{
  text-align: center;
  color: #32495b;
  font-size: 18px;
}

.popolarfeature{
  text-align: left;
  font-size: 13px;
  padding-left: 60px;
}

.button-down{
  text-align: center;
  margin-top: 30px;
}

.section-tiffany{
  width: 100%;
  height: 700px;
  background: rgb(0,172,181);
  background: linear-gradient(121deg, rgba(0,172,181,1) 29%, rgba(0,188,166,1) 66%);
}

.inside.container::after{
  content: "";
  clear: both;
  display: block;
}

.inside-container h2{
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.inside-container p{
  text-align: center;
  color: #fff;
  line-height: 30px;
  padding: 20px 0;
}

.col-4{
  float: left;
  width: 25%;
  padding: 20px 5px;
}

.col-4 li{
  list-style: none;
  margin-TOP: 20PX;
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.riga-sopra .col-4{
  border-bottom: 1px solid #fff;
}

.riga-sopra .col-4:not(:last-child),
.riga-sotto .col-4:not(:last-child) {
  border-right: 1px solid #fff;
}

.col-4 ul li:nth-of-type(3){
  font-size: 13px;
}

.partner::after{
  content: "";
  clear: both;
  display: block;
}

.number{
  float: left;
  width: 30%;
  margin-bottom: 50px;
}

.number h1{
  text-align: center;
  margin: 20px 0;
  color: #32495b;
  font-size: 50px;
  font-weight: bold;
}

.number p{
  text-align: center;
  width: 50%;
  margin-left: 110px;
  color: #32495b;
  line-height: 30px;
}

.partner-logo{
  float: left;
  width: 70%;
  padding-left: 150px;
  padding-bottom: 50px;
}

.img-partner{
  width: 150px;
  padding: 20px 20px;
  text-align: right;
}

.main-down::after{
  content: "";
  clear: both;
  display: block;
}

.finish-main{
  float: left;
  width: 50%;
}

.last-title{
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
  padding: 20px 0;
}

.main-down p{
  width: 70%;
  color: #32495b;
  line-height: 30px;
  padding: 30px 0;
}

.woman{
  float: left;
  width: 50%;
}

.img-woman{
  width: 300px;
  height: 350px;
  margin-left:40%
}

footer{
  background-color: #32495b;
  height: 800px;
}

.colum-footer::after{
  content: "";
  clear: both;
  display: block;
}

.colonna{
  float: left;
  width: 25%;
}

h4{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0;
}

.column-footer li{
  color: #fff;
  list-style: none;
  line-height: 40px;
}

.last-button{
  color: #32495b;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #dadee0;
}

.social{
  font-size: 20px;
  padding: 0 10px;
  color: #cbd6e2;
  padding-bottom: 30px;
}

.last-section{
  text-align: center;
  color: #cbd6e2;
  font-size: 18px;
  margin-bottom: 15px;
}

.legalnote::after{
  content: "";
  clear: both;
  display: block;
}

.final-logo{
  float: left;
  width: 50%;
}

.privacy-policy{
  float: left;
  width: 50%;
  text-align: right;
  color: #cbd6e2;
  margin-top: 50px;
  font-size: 18px;
}
